* {
	padding: 10;
	margin: 10;
} 

#myCanvas {
	background: #eee;
	display: block;
	margin: 0 auto;
}

#size-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}