* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(67, 66, 66);
	color: white;
	height: 100vh;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
	background-color: #0b0404;
}

main{
	width: 95%;
}

.game-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.game-container section{
	width: 30%;
}

#myCanvas {
	background: rgb(55, 54, 54);
	display: block;
	margin: 10px;
}

.alert {
	padding: 15px;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	position: absolute;
	left:0;
	right: 0;
	top: -40%;
	text-align: center;
	margin: 0 auto;
	max-width: 400px;
	border-radius: 5px;
}

.alert.failure, .alert.failure strong {
	background-color: #f44336;
}

.alert.success, .alert.success strong {
	background-color: #04AA6D;
}

.close {
	border-radius: 6px;
	display: block;
	margin-left: 10px;
	background-color: transparent;
	border: thin solid white;
	color: white;
	padding: 5px 15px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
}

#successBtn:hover {
	background-color: white;
	color: #04AA6D;
}

#failureBtn:hover {
	background-color: white;
	color: #f44336;
}

.game-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: rgb(55, 54, 54, 0.5);
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
}

.game-option{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(55, 54, 54, 0.5);
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
}

#size-container, .speed-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.heading{
	font-size:30px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: #121315;
	font-size: 16px;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .copyright p {
	font-size: 0.9em;
	text-align: right;
  }

  @media screen and (max-width: 850px) {
	.row.primary {
	  grid-template-columns: 1fr;
	}
  
  } 